<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736769936549-oa3se455thrpmqu6g2a8cvk1cefdjhv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736769936549-oa3se455thrpmqu6g2a8cvk1cefdjhv4</string>
	<key>API_KEY</key>
	<string>AIzaSyA2b4fLIe3oAPRUv4fJ1YJuiQaL4UB-sT8</string>
	<key>GCM_SENDER_ID</key>
	<string>736769936549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trevis.ParksPass</string>
	<key>PROJECT_ID</key>
	<string>parkspass-59c96</string>
	<key>STORAGE_BUCKET</key>
	<string>parkspass-59c96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736769936549:ios:38ee53acf6f3922443514c</string>
</dict>
</plist>